*/5 8 * * 1 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 8 * * 2 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 8 * * 3 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 8 * * 5 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1

*/5 9 * * 1 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 9 * * 2 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 9 * * 3 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 9 * * 5 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1

*/5 10 * * 1 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 10 * * 2 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 10 * * 3 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 10 * * 4 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 10 * * 5 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1

*/5 11 * * 1 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 11 * * 2 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 11 * * 3 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 11 * * 4 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 11 * * 5 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1

*/5 12 * * 4 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1

*/5 13 * * 2 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 13 * * 4 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1

*/5 14 * * 1 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 14 * * 2 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 14 * * 3 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 14 * * 5 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1

*/5 15 * * 1 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 15 * * 2 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 15 * * 3 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 15 * * 5 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1

*/5 16 * * 1 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 16 * * 3 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 16 * * 5 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1

*/5 17 * * 1 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 17 * * 3 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 17 * * 5 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1

*/5 18 * * 1 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1
*/5 19 * * 1 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/erap.py > /home/heneos/erap.log 2>&1


5 8 * * 1 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/mn232t1.py > /home/heneos/webex.log 2>&1
5 10 * * 1 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/mc516t.py > /home/heneos/webex.log 2>&1
5 14 * * 1 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/mc585t1.py > /home/heneos/webex.log 2>&1
5 16 * * 1 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/mc571t.py > /home/heneos/webex.log 2>&1
5 18 * * 1 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/mc571p.py > /home/heneos/webex.log 2>&1

5 8 * * 2 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/mc516p.py > /home/heneos/webex.log 2>&1
5 10 * * 2 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/ml202t1.py > /home/heneos/webex.log 2>&1
5 13 * * 2 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/mn463p.py > /home/heneos/webex.log 2>&1

5 8 * * 3 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/ml202p.py > /home/heneos/webex.log 2>&1
5 10 * * 3 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/ml202t2.py > /home/heneos/webex.log 2>&1
5 14 * * 3 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/mc585t1.py > /home/heneos/webex.log 2>&1
5 16 * * 3 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/mc585p.py > /home/heneos/webex.log 2>&1

5 10 * * 4 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/mn232t2.py > /home/heneos/webex.log 2>&1
5 12 * * 4 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/mn232p.py > /home/heneos/webex.log 2>&1

5 8 * * 5 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/ms213t.py > /home/heneos/webex.log 2>&1
5 10 * * 5 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/ms213p.py > /home/heneos/webex.log 2>&1
5 14 * * 5 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/mierdat.py > /home/heneos/webex.log 2>&1
5 16 * * 5 export DISPLAY=:0 && /usr/bin/python3 /home/heneos/mierdap.py > /home/heneos/webex.log 2>&1
